@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: black !important;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px); /* Start from the left */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* Move to original position */
  }
}

.animate-slide-in {
  animation: slideIn 0.5s ease forwards;
}
